/* Geral */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #4285f4;
  color: white;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px;
  vertical-align: middle;
}

tbody tr:hover {
  background-color: #f4f4f9;
}

/* Estilo para os botões dentro da tabela */
td button {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

td button:hover {
  background-color: #ff7878;
}

td a button {
  background-color: #4285f4;
}

td a button:hover {
  background-color: #357ae8;
}

/* Link para adicionar novo livro */
a.add-new {
  display: inline-block;
  margin: 20px 0;
  background-color: #4285f4;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

a.add-new:hover {
  background-color: #357ae8;
}

/* Estilo para os formulários */
form {
  max-width: 100%;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form input:focus {
  border-color: #4285f4;
  outline: none;
}

form button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}

form button:hover {
  background-color: #357ae8;
}
.pesquisa {
  margin-bottom: 20px;
}

.pesquisa input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}