/* Reset de margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Estilo para o título da página */
h1.center {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para o botão de adicionar livro */
button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para a tabela de livros */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    /* Ajustado para reduzir o padding e a largura das linhas */
    text-align: left;
}

thead {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Estilo para as ações na tabela */
td:last-child {
    text-align: center;
}

a.action,
button.action {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
    /* Ajustado para melhor aparência */
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.action {
    background-color: #007bff;
}

a.action:hover {
    background-color: #0056b3;
}

a.edit {
    background-color: #28a745;
}

a.edit:hover {
    background-color: #218838;
}

a.delete {
    background-color: #dc3545;
}

a.delete:hover {
    background-color: #c82333;
}