
/* Estilos específicos para o TodoItem */
.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ffffff;
  /* Fundo branco para o item */
  border: 1px solid rgba(var(--card-border-rgb), 0.2);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

.status {
  margin-left: 10px;
}

.completed {
  color: #28a745;
  /* Verde mais visível */
}

.pending {
  color: #dc3545;
  /* Vermelho mais visível */
}